In [40]:
# reading the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data=pd.read_csv('C://Users//Nmber One//Documents//4_5901974192206645743.csv')
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [41]:
data.replace('',np.nan)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [42]:
# convert string to a number
from sklearn import preprocessing
obj=data.select_dtypes(include=['object'])
le=preprocessing.LabelEncoder()
for i in range(obj.shape[1]):
    obj.iloc[:,i]=le.fit_transform(obj.iloc[:,i])
nun_obj=data.select_dtypes(exclude=['object'])
data=pd.concat([obj,nun_obj],axis=1)

C:\Users\Nmber One\anaconda3\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
C:\Users\Nmber One\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [43]:
# handel null for the coulmn rbc
for i  in range (data['rbc'].count()):
    if data['rbc'][i]=='normal':
        data['rbc'][i]='normal'
    elif data['rbc'][i]=='abnormal':
        data['rbc'][i]='abnormal'
    else:
        data['rbc'][i]=data['rbc'].mode()[0]

<ipython-input-43-1e282891f06c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['rbc'][i]=data['rbc'].mode()[0]

In [44]:
# handle null for the coulmns
for i  in  (data.columns):
    if data[i].isnull:
        data[i]=data[i].fillna(data[i].mode()[0])

In [45]:
data.head(20)

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,...,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,1,1,0,0,32,72,34,1,4,1,...,80.0,1.020,1.0,0.0,121.0,36.0,1.2,135.0,3.5,15.4
1,1,1,0,0,26,56,49,0,3,1,...,50.0,1.020,4.0,0.0,99.0,18.0,0.8,135.0,3.5,11.3
2,1,1,0,0,19,70,49,0,4,1,...,80.0,1.010,2.0,3.0,423.0,53.0,1.8,135.0,3.5,9.6
3,1,0,1,0,20,62,19,1,3,1,...,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,11.2
4,1,1,0,0,23,68,27,0,3,1,...,80.0,1.010,2.0,0.0,106.0,26.0,1.4,135.0,3.5,11.6
5,1,2,0,0,27,72,25,1,4,1,...,90.0,1.015,3.0,0.0,74.0,25.0,1.1,142.0,3.2,12.2
6,1,1,0,0,24,92,49,0,3,1,...,70.0,1.010,0.0,0.0,100.0,54.0,24.0,104.0,4.0,12.4
7,1,0,0,0,32,64,31,0,4,1,...,80.0,1.015,2.0,4.0,410.0,31.0,1.1,135.0,3.5,12.4
8,1,0,1,0,21,88,21,1,4,1,...,100.0,1.015,3.0,0.0,138.0,60.0,1.9,135.0,3.5,10.8
9,1,0,1,0,17,18,17,1,4,1,...,90.0,1.020,2.0,0.0,70.0,107.0,7.2,114.0,3.7,9.5
10,1,0,1,0,16,92,49,1,4,1,...,60.0,1.010,2.0,4.0,490.0,55.0,4.0,135.0,3.5,9.4
11,1,0,1,0,20,43,18,1,4,1,...,70.0,1.010,3.0,0.0,380.0,60.0,2.7,131.0,4.2,10.8
12,1,1,1,0,16,19,14,1,4,2,...,70.0,1.015,3.0,1.0,208.0,72.0,2.1,138.0,5.8,9.7
13,1,2,0,0,44,92,49,1,4,2,...,70.0,1.020,0.0,0.0,98.0,86.0,4.6,135.0,3.4,9.8
14,1,0,1,1,4,10,5,1,4,2,...,80.0,1.010,3.0,2.0,157.0,90.0,4.1,130.0,6.4,5.6
15,1,1,0,0,12,39,7,1,3,1,...,80.0,1.015,3.0,0.0,76.0,162.0,9.6,141.0,4.9,7.6
16,1,1,0,0,44,92,49,0,3,1,...,70.0,1.015,2.0,0.0,99.0,46.0,2.2,138.0,4.1,12.6
17,1,2,0,0,44,92,49,1,3,1,...,80.0,1.020,0.0,0.0,114.0,87.0,5.2,139.0,3.7,12.1
18,1,1,0,0,25,13,24,1,4,2,...,100.0,1.025,0.0,3.0,263.0,27.0,1.3,135.0,4.3,12.7
19,1,0,1,0,18,49,17,1,3,2,...,60.0,1.015,1.0,0.0,100.0,31.0,1.6,135.0,3.5,10.3

In [46]:
data.isna().sum()

rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
dtype: int64

In [47]:
# split the data to x , y and train , test
x=data.drop(['id','classification'],axis=1)
y=data['classification']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
x

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,...,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,1,1,0,0,32,72,34,1,4,1,...,80.0,1.020,1.0,0.0,121.0,36.0,1.2,135.0,3.5,15.4
1,1,1,0,0,26,56,49,0,3,1,...,50.0,1.020,4.0,0.0,99.0,18.0,0.8,135.0,3.5,11.3
2,1,1,0,0,19,70,49,0,4,1,...,80.0,1.010,2.0,3.0,423.0,53.0,1.8,135.0,3.5,9.6
3,1,0,1,0,20,62,19,1,3,1,...,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,11.2
4,1,1,0,0,23,68,27,0,3,1,...,80.0,1.010,2.0,0.0,106.0,26.0,1.4,135.0,3.5,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,1,0,0,35,62,30,0,3,1,...,80.0,1.020,0.0,0.0,140.0,49.0,0.5,150.0,4.9,15.7
396,1,1,0,0,42,72,44,0,3,1,...,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,3.5,16.5
397,1,1,0,0,37,61,36,0,3,1,...,80.0,1.020,0.0,0.0,100.0,26.0,0.6,137.0,4.4,15.8
398,1,1,0,0,39,67,41,0,3,1,...,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,4.9,14.2
399,1,1,0,0,41,63,43,0,3,1,...,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,3.5,15.8

In [48]:
data.isna().sum()

rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
dtype: int64

In [49]:
# create the model
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators=100,max_depth=10)
model.fit(x_train,y_train)

pred=model.predict(x_test)
print(model.score(x_test,y_test))

0.9916666666666667